@import url('./css/?family=SuisseIntl:400');

@font-face {
  font-family: 'Suisseintl';
  src: url('https://assets.website-files.com/6009499915a42b9442426cb3/60926d1b126f2b081ebbbdf8_SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.custom-font{
	font-family: 'SuisseIntl', sans-serif;
	font-weight: 400;
}