@import url('https://fonts.googleapis.com/css?family=Inter:500,400|EB+Garamond:500,500');

body {
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    font-weight: 400;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}

h1 {
    font-size: 40px;
    font-family: 'EB Garamond', serif;
    margin: 0px;
}

p {
    margin: 0px;
    line-height: 135%;
}

.col {
    max-width: 50%;
    font-size: 16px;
}

h5 {
    margin: 0px;
}

.work {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.is-past {
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-top-style: none;
    border-bottom-style: solid;
}

b {
    font-weight: 500;
}

.work:hover {
    color: black;
    background-color: #ccff44;
    padding-left: 8px;
}

.gap-m {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.footer {
    display: flex;
    column-gap: 24px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.active {
    padding-top: 24px;
    padding-right: 8px;
    padding-bottom: 24px;
    padding-left: 8px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #0a0a0a;
    border-bottom-color: #000000;
    background-color: black;
    color: #ccff44;
}

.last-updated {
    font-size: 14px;
}

.recommendation-wp {
    display: flex;
    flex-direction: row;
    gap: 8px 8px;
    flex-wrap: wrap;
    margin-top: 18px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.goals-wp {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px 80px;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    flex: 1;
}

.inactive {
    opacity: 0.5;
}

.avatar:hover {
    box-shadow: 0 4px 50px 8px rgba(117, 117, 117, 0.16);
}

.box {
    flex: 1;
    position: relative;
}

.text-24 {
    font-size: 24px;
}

.is-inner {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

a:hover {
    border-bottom-color: #000000;
}

a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

@media (max-width: 480px) {
    .col {
        max-width: 100%;
    }

    .footer {
        font-size: 18px;
        column-gap: 16px;
    }

    .m-work-flex {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px 8px;
    }

    .m-hide {
        display: none;
    }
}

@media (max-width:480px) {
    .work:hover {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 0px;
    }

    .active {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    body {
        row-gap: 40px;
    }

    .goals-wp {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        gap: 16px 16px;
        align-items: flex-start;
        justify-content: space-between;
    }

    p {
        line-height: 145%;
    }
}