@import url('https://fonts.googleapis.com/css?family=Inter:600,500');

body {
    font-family: 'Inter', sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

h1 {
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 45ch;
}

.hero-wp {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.hero-image {
    align-self: flex-start;
    flex: 1;
}

.dim {
    opacity: 0.5;
}

.project-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.project-block {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.year {
    width: 50px;
}

.type {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.project-name {
    width: 320px;
}

.project-meta-wp {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.context {
    width: 200px;
}

.footer {
    max-width: 95%;
    margin: auto;
    width: 100%;
    font-size: 14px;
}

.hover-effect {
  transition-property: color, background-color;
  transition-duration: 500ms, 500ms;
  transition-timing-function: ease, ease;
}

.hover-effect:hover {
    color: white;
    background-color: black;
}

.hide {
    display: none;
}

.note {
    font-size: 14px;
    opacity: 0.5;
    margin-top: 16px;
}

@media (max-width: 768px) {
    body {
        padding: 24px;
    }

    .project-block {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .project-meta-wp {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .project-block {
        flex-direction: column;
        row-gap: 24px;
    }

    body {
        row-gap: 48px;
    }
}